<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 등록</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <form method="post" th:object="${form}" th:action>
        <label th:for="*{title}">제목</label>
        <textarea th:type="text" th:name="*{title}" th:field="*{title}" style="resize: none"></textarea>

        <label th:for="*{content}">내용</label>
        <textarea th:type="text" th:name="*{content}" th:field="*{content}" style="resize: none"></textarea>

        <button type="submit">등록할게요</button>
    </form>
</div>
</body>
</html>
