<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>댓글 등록</title>
</head>
<body>
<form th:method="post" style="border: 1px solid lightgrey"
      th:action
      th:object="${form}">
    <label th:for="*{memberNickname}" th:text="*{memberNickname}">닉네임</label>
    <input type="text" th:name="*{memberNickname}" th:field="*{memberNickname}" disabled>

    <textarea th:name="*{content}" th:field="*{content}" placeholder="댓글을 작성해주세요." style="resize: none"></textarea>
    <button type="submit">작성하기</button>
</form>
</body>
</html>
