<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>함버거봐 - 리뷰게시판</title>
</head>
<body>
<table style="border: 1px solid darkgray">
    <thead>
        <tr>
            <td>작성자</td>
            <td>제목</td>
            <td>작성일자</td>
            <td>좋아요</td>
            <td>싫어요</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="boardDto : ${boardDtos}">
            <td th:text="${boardDto.nickname}"></td>
            <td th:text="${boardDto.title}" th:onclick="|location.href='/board/list/${boardDto.boardId}'|"></td>
            <td th:text="${#temporals.format(boardDto.at.createdAt, 'yyyy/MM/dd HH:mm')}"></td>
            <td th:text="${boardDto.likable.likes}"></td>
            <td th:text="${boardDto.likable.dislikes}"></td>
        </tr>
    </tbody>
    <p th:onclick="|location.href='/board/write'|">글 작성하기</p>
</table>
</body>
</html>
