<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>함버거봐 - 리뷰게시판</title>
</head>
<body>
<p th:onclick="|location.href='/board/list'|">목록으로</p>
<table style="border: 1px solid grey">
    <h2 th:text="${boardDto.title}">제목</h2>
    <p th:text="${boardDto.nickname}">닉네임</p>
    <div th:text="${boardDto.content}">본문</div>
    <div>
        좋아요<p th:text="${boardDto.likable.likes}">0</p>
        싫어요<p th:text="${boardDto.likable.dislikes}">0</p>
    </div>
</table>

<form th:method="post" style="border: 1px solid lightgrey"
      th:action="@{/board/comment(memberId=${memberId}, boardId=${boardId})}"
      th:object="${commentWriteForm}">
    <label th:for="*{content}" th:text="*{memberNickname}">닉네임</label>
    <textarea th:name="*{content}" th:field="*{content}" placeholder="댓글을 작성해주세요." style="resize: none"></textarea>
    <button type="submit">작성하기</button>
</form>

<table style="border: 1px solid lightblue">
    <tr th:each="comment : ${commentDtos}">
        <td th:text="${comment.memberNickname}">닉네임</td>
        <td th:text="${#temporals.format(comment.at.createdAt, 'yy/MM/dd HH:mm')}">작성일자</td>
        <td th:text="${comment.content}">본문</td>
        <td th:text="${comment.likable.likes}">좋아요</td>
        <td th:text="${comment.likable.dislikes}">싫어요</td>
    </tr>
</table>
</body>
</html>
