<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="form">
    <div class="container">
        <div class="shadow-sm my-4 border rounded p-3">
            <div class="row">
                <div class="col-md-3 p-3 text-center">
                    <!-- 닉네임 및 프로필 -->
                    닉네임
                </div>
                <div class="col-md-9 p-3">
                    <form th:action th:object="${form}" method="post">
                        <div class="form-group">
                            <label class="col-form-label" th:for="*{content}" th:text="#{form.label.comment.content}"></label>
                            <textarea th:name="*{content}" th:field="*{content}" class="form-control"
                                      rows="3"></textarea>
                            <button class="btn btn-sm btn-block" type="submit" th:text="#{form.btn.create}">작성하기
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="comments">
    <div class="container">
        <div class="shadow-sm my-4 border rounded p-3">
            <div th:each="comment : ${comments}">
                <hr />
                <div class="row">
                    <div class="col-md-3 p-3 text-center">
                        <!-- 닉네임 및 프로필 -->
                        닉네임
                    </div>
                    <div class="col-md-9 p-3">
                        <div class="form-group">
                            <div>
                                <span th:text="${comment.content}">내용</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
