<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="form">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="w-100">
                    <form th:action th:object="${form}" method="post">
                        <div class="form-group">
                            <textarea style="resize: none" th:name="*{content}" th:field="*{content}"
                                      class="border-info form-control"
                                      th:placeholder="#{form.label.comment.content}"
                                      rows="3"></textarea>
                            <button class="mt-1 btn btn-sm btn-block btn-info" type="submit"
                                    th:text="#{form.btn.create}">작성하기
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
