article {
    margin: auto;
}

.form-error {
    color: red;
    border-color: red;
}

.review-content img {
    max-width: 100%;
    height: auto;
}

.link-normal {
    text-decoration: none;
}

.review-card {

}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-image-container {
    max-height: 300px;
    overflow: hidden;
}
