<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원 등록</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <h2 class="my-4">함버거봐의 동료가 되어주세요.</h2>
    <a th:href="@{/}">이미 동료분이신가요? (빼꼼)</a>
    <hr class="my-4" />
    <form method="post" th:object="${form}" th:action>
        <div class="my-2">
            <label th:for="*{email}" class="col-form-label">* 이메일</label>
            <input type="text" th:name="*{email}" th:field="*{email}" class="form-control">
        </div>

        <div class="my-2">
            <label th:for="*{password}" class="col-form-label">* 비밀번호</label>
            <input type="password" th:name="*{password}" th:field="*{password}" class="form-control">
        </div>

        <div class="my-2">
            <label th:for="*{nickname}" class="col-form-label">* 별명</label>
            <input type="text" th:name="*{nickname}" th:field="*{nickname}" class="form-control">
        </div>

        <div class="my-2">
            <label th:for="*{intro}" class="col-form-label">소개글</label>
            <textarea th:placeholder="'자신을 소개하는 글을 남겨보세요.'" th:field="*{intro}" style="resize: none"
                      class="form-control"></textarea>
        </div>

        <div class="my-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block">가입할게요</button>
        </div>
    </form>
</div>
</body>
</html>
