<!DOCTYPE html>
<html th:replace="~{layout/simple-layout :: layout(~{::title}, ~{::article})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.title.review}">함버거봐 - 리뷰</title>
</head>
<article style="max-width: 800px;">
    <div th:replace="~{layout/fragments/review/review :: review}">리뷰 보기</div>
    <br />
    <div th:replace="~{layout/fragments/comment/comment :: form}">댓글 작성</div>
    <div th:replace="~{layout/fragments/comment/comments :: comments}">댓글 목록</div>
</article>
</html>
